     |     |
-----|-----|
<%= SCOPE %> | CREATE_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>
<%= PARAMETERS %> | **include** (optional) -- comma-separated list of elements to copy:<ul><li>**all** - include all elements available for copy</li><li>data</li><li>attachments</li><li>discussions</li><li>cellLinks</li><li>forms</li></ul>
<%= REQUEST %> | [ContainerDestination object](#containerdestination-object)
<%= RETURNS %> | [Result object](#result-object) containing a [Sheet object](#sheet-object) for the copied Sheet, limited to the following attributes:<ul><li>id</li><li>name</li><li>accessLevel</li><li>permalink</li></ul>
