     |     |    
-----|-----|
<%= SCOPE %> | ADMIN_WORKSPACES
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>
<%= PARAMETERS %> | **include** (optional) -- a comma-separated list of optional objects to include in the response:<ul><li>**all** (if specified, all other **include** options are included)</li><li>data</li><li>attachments</li><li>discussions</li><li>cellLinks</li><li>forms</li></ul> 
 | **skipRemap** (optional) -- a comma-separated list of references to skip remapping for cellLinks, if sheet cellLinks are included, and/or for reports under the Workspace (the copy operation by default remaps cell links between sheets and sheet references from reports to sheets under the Workspace):<ul><li>cellLinks</li><li>reports</li></ul>
<%= REQUEST %> | [ContainerDestination object](#containerdestination-object)</li></ul>
<%= RETURNS %> | [Result object](#result-object) containing a [Folder object](#folder-object) for the newly copied Folder

