     |     |
-----|-----|
<%= SCOPE %> | WRITE_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>
<%= REQUEST %> | [Discussion Object](#discussion-object) with the following attributes:<ul><li>title (string)</li><li>comment ([Comment Object](#comment-object))</li></ul>
<%= RETURNS %> | [Result Object](#result-object) containing [Discussion Object](#discussion-object) for the newly created Discussion