     |     |
-----|-----|
<%= SCOPE %> | CREATE_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>
<%= REQUEST %> | [Sheet Object](#sheet-object), limited to the following attributes:<ul><li>name (required) - does not have to be unique</li><li>columns (required) - array of [Column Objects](#column-object), limited to the following attributes:<ul><li>title (required), must be unique within the Sheet</li><li>primary (required)</li><li>type (required)</li><li>symbol (optional)</li><li>options (optional)</li><li>systemColumnType (optional)</li><li>autoNumberFormat (optional)</li><li>width (optional)</li></ul></li></ul>
<%= RETURNS %> | [Result Object](#result-object) containing a [Sheet Object](#sheet-object) for newly created Sheet, limited to the following attributes: <ul><li>id</li><li>name</li><li>accessLevel</li><li>permalink</li><li>columns</li></ul>
