     |     |
-----|-----|
<%= SCOPE %> | CREATE_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>
<%= PARAMETERS %> | **include** (optional) -- comma-separated list of elements to copy from the Template or Sheet:<ul><li>data</li><li>attachments</li><li>discussions</li><li>cellLinks</li><li>forms</li></ul>
<%= REQUEST %> | [Sheet Object](#sheet-object), limited to the following attributes:<ul><li>name (required) - does not have to be unique</li><li>fromId (required) - the ID of the Template from which to create the Sheet</li></ul>
<%= RETURNS %> | [Result Object](#result-object) containing a [Sheet Object](#sheet-object) for the newly created Sheet, limited to the following attributes:<ul><li>id</li><li>name</li><li>accessLevel</li><li>permalink</li></ul>
