     |     |
-----|-----|
<%= SCOPE %> | WRITE_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>
<%= REQUEST %> | [Discussion object](#discussion-object) with the following attributes:<ul><li>title (string)</li><li>comment ([Comment object](#comment-object))</li></ul>
<%= RETURNS %> | [Result object](#result-object) containing [Discussion object](#discussion-object) for the newly created Discussion