> Example Request: 

```shell
curl https://api.smartsheet.com/2.0/users/sheets \
-H "Authorization: Bearer ACCESS_TOKEN"
```

```csharp
// List all org sheets.
smartsheet.UserResources().SheetResources().ListSheets();
```

> Example Response:

```json
{
    "pageNumber": 1,
    "pageSize": 100,
    "totalPages": 1,
    "totalCount": 1,
	"data": [
		{
			"id": 2894323533539204,
			"name": "New Sheet",
			"owner": "john.doe@smartsheet.com",
			"ownerId": 995857572373
		}
	]
}
```

`GET /users/sheets`

Gets the list of all Sheets owned by the members of the account (organization). 

<%= SUPPORTS_PAGING %>

<aside class="notice">This operation is only available to system administrators.</aside>

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_USERS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= RETURNS %> | [IndexResult object](#indexresult-object) containing an array of [Sheet objects](#sheet-object), limited to the following attributes:<ul><li>id</li><li>name</li><li>owner (email address)</li><li>ownerId</li></ul>