> Example Request: 

```shell
curl https://api.smartsheet.com/2.0/users/sheets \
-H "Authorization: Bearer ACCESS_TOKEN"
```

```javascript
// List all org sheets.
smartsheet.sheets.listOrganizationSheets()
	.then(function(data) {
		console.log(data)
	})
	.catch(function(error) {
		console.log(error);
	});
```

```csharp
// List all org sheets.
smartsheet.UserResources.SheetResources.ListSheets();
```

```java
// List all org sheets.
smartsheet.userResources().listOrgSheets();
```

```python
# List all org sheets.
action = smartsheet.Sheets.list_org_sheets()
sheets = action.data
```

> Example Response:

```json
{
    "pageNumber": 1,
    "pageSize": 100,
    "totalPages": 1,
    "totalCount": 1,
	"data": [
		{
			"id": 2894323533539204,
			"name": "New Sheet",
			"owner": "john.doe@smartsheet.com",
			"ownerId": 995857572373
		}
	]
}
```

`GET /users/sheets`

Gets the list of all Sheets owned by the members of the account (organization). 

<aside class="notice">This operation is only available to system administrators.</aside>

<aside class="notice"><%= SUPPORTS_NUMERICDATES %></aside>

<aside class="notice"><%= SUPPORTS_PAGING %></aside>

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_USERS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= PARAMETERS %> | <%= PARAMETER_MODIFIEDSINCE %>
 | <%= PAGING_PARAMETERS %>
<%= RETURNS %> | [IndexResult object](#indexresult-object) containing an array of [Sheet objects](#sheet-object), limited to the following attributes:<ul><li>id</li><li>name</li><li>owner (email address)</li><li>ownerId</li></ul>