     |     |
-----|-----|
<%= SCOPE %> | READ_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= PARAMETERS %> | **include** (optional): when specified with a value of "distributionLink", response will include the **distributionLink** attribute for each Folder in the response
 | <%= PAGING_PARAMETERS %>
<%= RETURNS %> | [IndexResult object](#indexresult-object) containing an array of [Folder objects](#folder-object), limited to the following attributes:<ul><li>id</li><li>name</li><li>permalink</li><li>distributionLink (included only if "distributonLink" is specified with the **include** parameter)</li></ul>
