> Example Request: List Org Sheets

```shell
curl https://api.smartsheet.com/2.0/users/sheets \
-H "Authorization: Bearer ll352u9jujauoqz4gstvsae05"
```

```javascript
smartsheet.sheets.listOrganizationSheets()
	.then(function(sheetsList) {
		console.log(sheetsList)
	})
	.catch(function(error) {
		console.log(error);
	});
```

```csharp
PaginatedResult<Sheet> sheets = smartsheet.UserResources.SheetResources.ListSheets();
```

```java
PagedResult<Sheet> sheets = smartsheet.userResources().listOrgSheets();
```

```python
response = ss_client.Sheets.list_org_sheets()
sheets = response.data
```

> Example Response:

```json
{
    "pageNumber": 1,
    "pageSize": 100,
    "totalPages": 1,
    "totalCount": 1,
	"data": [
		{
			"id": 2894323533539204,
			"name": "New Sheet",
			"owner": "john.doe@smartsheet.com",
			"ownerId": 995857572373
		}
	]
}
```

`GET /users/sheets`

Gets a summarized list of all Sheets owned by the members of the account (organization). 

<aside class="notice">This operation is only available to system administrators.</aside>

<aside class="notice"><%= SUPPORTS_NUMERICDATES %></aside>

<aside class="notice"><%= SUPPORTS_PAGING %></aside>

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_USERS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= PARAMETERS %> | <%= PARAMETER_MODIFIEDSINCE %>
 | <%= PAGING_PARAMETERS %>
<%= RETURNS %> | [IndexResult Object](#indexresult-object) containing an array of [Sheet Objects](#sheet-object), limited to the following attributes:<ul><li>id</li><li>name</li><li>owner (email address)</li><li>ownerId</li></ul>