     |     |
-----|-----|
<%= SCOPE %> | READ_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= PARAMETERS %> | <%= PAGING_PARAMETERS %>
<%= RETURNS %> | [IndexResult object](#indexresult-object) containing an array of [SentUpdateRequest objects](#sentupdaterequest-object) limited to the following attributes:<ul><li>id</li><li>updateRequestId</li><li>sentAt</li><li>sentBy</li><li>sendTo</li><li>status</li><li>subject</li><li>message</li></ul>