     |     |
-----|-----|
<%= SCOPE %> | READ_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= PARAMETERS %> | <%= PAGING_PARAMETERS %>
 | **include** (optional): <ul><li>distributionLink</li><ul>
<%= RETURNS %> | [IndexResult object](#indexresult-object) containing an array of [Folder objects](#folder-object), limited to the following attributes:<ul><li>id</li><li>name</li><li>permalink</li><li>distributionLink - if specified in **include**</li></ul>
