<% SEE_TABLE_OF_SCHEDULE_OBJECT_ATTRIBUTES = "For more details, refer to the [Table of Schedule Object’s Attributes](#table-of-schedule-object’s-attributes)." %>

### Schedule Object

     |     |     |
-----|-----|-----|
**type** | string | Schedule type. It must be one of the following values:<ul><li>ONCE</li><li>DAILY</li><li>WEEKLY</li><li>MONTHLY</li><li>YEARLY</li></ul>
**startAt** | timestamp | The date, time and time zone at which the first delivery starts.<br/><br/>The value is either in a string format or a numeric format:<ul><li>When the value is a string, it must be a valid [ISO-8601](http://en.wikipedia.org/wiki/ISO_8601) date and time with an offset (YYYY-MM-DDThh:mm:ssTZD).</li><li>When the value is a number, it represents a date and time with no offset (UTC time zone). See [Dates and Times](#dates-and-times) for more information.</li></ul>For ONCE schedule type, it must be later than the current date time.<br/><br/>For all other schedule types, it must be later than “2000-01-01T00:00:00Z” in string format or 946684800000 in numeric format.<br/><br/>The value must contain zero minute and zero second.<br/><br/>This attribute is applicable to all schedule types.<br/><br/><%= SEE_TABLE_OF_SCHEDULE_OBJECT_ATTRIBUTES %>
**endAt** | timestamp | The date, time and time zone at which the delivery schedule ends.<br/><br/>The value is either in a string format or a numeric format:<ul><li> When the value is a string, it must be a valid [ISO-8601](http://en.wikipedia.org/wiki/ISO_8601) date and time with an offset (YYYY-MM-DDThh:mm:ssTZD).</li><li>When the value is a number, it represents a date and time with no offset (UTC time zone). See [Dates and Times](#dates-and-times) for more information.</li></ul>The value must be later than startAt and the current date and time.<br/><br/>The value must contain zero hour, zero minute and zero second.<br/><br/>The offset (time zone) value must be the same as the offset (time zone) value in startAt.<br/><br/>This attribute is applicable to the following schedule types:<ul><li>DAILY</li><li>WEEKLY</li><li>MONTHLY</li><li>YEARLY</li></ul><%= SEE_TABLE_OF_SCHEDULE_OBJECT_ATTRIBUTES %>
**dayOfMonth** | number | The day within the month.<br/><br/>Valid range is 1 to 28.<br/><br/>This attribute is applicable to the following schedule type:<ul><li>MONTHLY</li></ul><%= SEE_TABLE_OF_SCHEDULE_OBJECT_ATTRIBUTES %>
**dayOrdinal** | string | It must be one of the following values:<ul><li>FIRST</li><li>SECOND</li><li>THIRD</li><li>FOURTH</li><li>LAST</li></ul>This attribute is applicable to the following schedule type:<ul><li>MONTHLY</li></ul><%= SEE_TABLE_OF_SCHEDULE_OBJECT_ATTRIBUTES %>
**dayDescriptors** | string[] | A string array consists of one or more of the following values:<ul><li>DAY</li><li>WEEKDAY</li><li>WEEKEND</li><li>SUNDAY</li><li>MONDAY</li><li>TUESDAY</li><li>WEDNESDAY</li><li>THURSDAY</li><li>FRIDAY</li><li>SATURDAY</li></ul>The subset of values applicable to the schedule type are as followed:<br/><br/><table><tr><td>**Value**</td><td><center>**Daily schedule**</center></td><td><center>**Weekly schedule**</center></td><td><center>**Monthly schedule**</center></td></tr><tr><td>**DAY**</td><td></td><td></td><td><center>&check;</center></td></tr><tr><td>**WEEKDAY**</td><td><center>&check;</center></td><td></td><td><center>&check;</center></td></tr><tr><td>**WEEKEND**</td><td></td><td></td><td><center>&check;</center></td></tr><tr><td>**SUNDAY**</td><td></td><td><center>&check;</center></td><td><center>&check;</center></td></tr><tr><td>**MONDAY**</td><td></td><td><center>&check;</center></td><td><center>&check;</center></td></tr><tr><td>**TUESDAY**</td><td></td><td><center>&check;</center></td><td><center>&check;</center></td></tr><tr><td>**WEDNESDAY**</td><td></td><td><center>&check;</center></td><td><center>&check;</center></td></tr><tr><td>**THURSDAY**</td><td></td><td><center>&check;</center></td><td><center>&check;</center></td></tr><tr><td>**FRIDAY**</td><td></td><td><center>&check;</center></td><td><center>&check;</center></td></tr><tr><td>**SATURDAY**</td><td></td><td><center>&check;</center></td><td><center>&check;</center></td></tr></table><br/><%= SEE_TABLE_OF_SCHEDULE_OBJECT_ATTRIBUTES %>
**repeatEvery** | number | Frequency on which the request is delivered.  The unit is a function of the “type” attribute. For example, for MONTHLY schedule, repeatEvery=1 means every month.<br/><br/>Valid range is 1 to 99.<br/><br/>This attribute is applicable to the following schedule types:<ul><li>DAILY</li><li>WEEKLY</li><li>YEARLY</li><li>MONTHLY</li></ul><%= SEE_TABLE_OF_SCHEDULE_OBJECT_ATTRIBUTES %>
**lastSentAt** | timestamp | The date and time for when the last request was sent. Read-only.
**nextSendAt** | timestamp | The date and time for when the next request is scheduled to send. Read-only.

#### Table of Schedule Object’s Attributes

The following table shows valid attribute values for each of the schedule type.

Attributes | Send Now | Deliver On | Daily Schedule | Weekly Schedule | Monthly Schedule | Yearly Schedule |
-----------|----------|------------|----------------|-----------------|------------------|-----------------|
**type** | ONCE | ONCE | DAILY | WEEKLY | MONTHLY |  YEARLY |
**startAt** | N/A | Required | Required | Required | Required | Required |
**endAt** | N/A | N/A | Optional | Optional | Optional | Optional |
**dayOfMonth** | N/A | N/A | N/A | N/A | Required<br/>(see Note 3) | N/A |
**dayOrdinal** | N/A | N/A | N/A | N/A | Required<br/>(see Note 3) | N/A |
**dayDescriptors** | N/A | N/A | Required<br/>(see Note 1) | Required<br/>(see Note 2) | Required<br/>(see Note 3) | N/A |
**repeatEvery** | N/A | N/A | Required<br/>(see Note 1) | Required | Required | Required |

**Note:**

1. For **DAILY** schedule, only one of the attributes can be specified:
   * **repeatEvery**, or
   * **dayDescriptors**. The only supported value is **WEEKDAY**.
2. For **WEEKLY** schedule,  the **dayDescriptors** attribute requires one or more of the following values: **SUNDAY**, **MONDAY**, **TUESDAY**, **WEDNESDAY**, **THURSDAY**, **FRIDAY**, and **SATURDAY**.
3. For **MONTHLY** schedule, only one of the following attribute combinations are valid:
   * **dayOfMonth**, or
   * **dayOrdinal** together with **dayDescriptors**.  **dayDescriptors** should contain only one value.