> Example Request:

```shell
curl https://api.smartsheet.com/2.0/sheets/{sheetId}/rows/emails \
-H "Authorization: Bearer ACCESS_TOKEN" \
-H "Content-Type: application/json" \
-X POST \
-d '{ \
    "sendTo": [ \
        {"email": "recipient@smartsheet.com"} \
    ], \
    "subject": "some subject", \
    "message": "some message", \
    "ccMe": false, \
    "rowIds": [ \
        rId1, \
        rId2 \
    ], \
    "columnIds": [ \
        cId1, \
        cId2 \
    ], \
    "includeAttachments": false, \
    "includeDiscussions": false \
}'
```

```csharp
// Specify recipients.
Recipient[] recipients = new Recipient[] { 
    new Recipient { Email = "recipient@smartsheet.com" }, 
};

// Configure email.
MultiRowEmail multiRowEmail = new MultiRowEmail {
    SendTo = recipients,
    Subject = "some subject",
    Message = "some message",
    CcMe = false,
    RowIds = new long[] { rowId1, rowId2 },
    ColumnIds = new long[] { columnId1, columnId2 },
    IncludeAttachments = false,
    IncludeDiscussions = false
};

// Send rows via email.
smartsheet.SheetResources.RowResources.SendRows(sheetId, multiRowEmail);
```

```java
// Specify recipients.
RecipientEmail recipientEmail = new RecipientEmail.AddRecipientEmailBuilder().setEmail("recipient@smartsheet.com").build();
List<Recipient> recipients = new ArrayList<Recipient>();
recipients.add(recipientEmail);

// Configure email.
MultiRowEmail multiRowEmail = new MultiRowEmail.AddMultiRowEmailBuilder()
    .setSendTo(recipients)
    .setSubject("some subject")
    .setMessage("some message")
    .setCcMe(false)
    .setRowIds(Arrays.asList(newRows.get(0).getId()))
    .setColumnIds(Arrays.asList(addedColumn.getId()))
    .setIncludeAttachments(false)
    .setIncludeDiscussions(false)
    .build();

// Send rows via email.
smartsheet.sheetResources().rowResources().sendRows(sheetId, multiRowEmail);
```
> Example Response:

```json
{
    "resultCode": 0,
    "message": "SUCCESS"
}
```

`POST /sheets/{sheetId}/rows/emails`

Sends one or more Rows via email.

     |     |
-----|-----|
<%= SCOPE %> | SHARE_SHEETS
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>
<%= REQUEST %> | [MultiRowEmail object](#multirowemail-object). <br/><br/>The columns included for each row in the email will be populated according to the following rules:<ul><li>If the **columnIds** attribute of the MultiRowEmail object is specified as an array of column IDs, those specific columns will be included.</li><li>If the **columnIds** attribute of the MultiRowEmail object is omitted, all columns except hidden columns shall be included.</li><li>If the **columnIds** attribute of the MultiRowEmail object is specified as *empty*, no columns shall be included. (Note: In this case, either **includeAttachments**:true or **includeDiscussions**:true must be specified.)
<%= RETURNS %> | [Result object](#result-object)
