# <span class="customTOCSectionHeading">Webhooks</span>

# Intro to Webhooks

<%= WEBHOOKS_INTRO %> 

At a high-level, it works like this:

<ol>
	<li><span class="customInstructionsHeading">Your application subscribes to <a href="#event-callbacks">callbacks</a>.</span><br/>First, subscribe to event notifications (callbacks) by creating one or more webhooks.  You can create a webhook manually via the API or have your application create a webhook dynamically.  Each webhook must specify:
		<ul>
			<li>Which Smartsheet object to monitor for events</li>
			<li>Which events in that object should trigger a callback</li>
			<li>The HTTPS URL (that is, "<b>callback URL</b>") where Smartsheet should send callbacks when any of the specified events occur within the scope of the specified Smartsheet object. (Note: Smartsheet webhooks do not support callbacks to servers using self-signed certificates)</li>
		</ul> 
		<br/>
		
		<b>Webhook examples in plain English:</b> 
		<ul>
			<li><i>"When any changes occur in Sheet_A, send a callback to https://www.myapp.com/abc"</i></li>
			<li><i>"When a new row is added to Sheet_B, send a callback to https://www.myapp.com/def"</i></li>
			<li><i>"When a cell value is changed in Sheet_C, send a callback to https://www.myapp.com/ghi"</i></li>
		</ul>
		<br/>
	</li>
	<li><span class="customInstructionsHeading">When any of the specified events occur within an object that is being monitored by a webhook, Smartsheet sends an <code>HTTP POST</code> (that is, "callback") to the <b>callback URL</b> that is associated with the Webhook.</span><br/>
		<ul>
			<li><i>Note:</i> The callback payload is a "skinny" payload -- it indicates which objects changed and the type of events that occurred, but does not contain any data from the objects themselves.</li>
		</ul> 
		<br/>
	</li>
	<li><span class="customInstructionsHeading">Your application receives, acknowledges, and processes callbacks.</span><br/>Your application receives the <code>HTTP POST</code>, acknowledges the callback by responding with HTTP status 200, and processes the callback. 
	Because the callbacks are "skinny", make one or more requests to the Smartsheet API to retrieve the actual data associated with the change.
	</li>
</ol>

## Webhook Management

Webhooks are created and managed by using the Smartsheet API. See [Webhooks API Reference](#webhooks) for details about the related API operations. 

## Webhook Ownership & Access

Webhooks can be created and managed via [Direct API Access](#webhooks-reference) or by a [third-party app](#third-party-app-development). 

A webhook that is created via Direct API Access:

* is owned by the User who created it
* can be managed only by the User who created it
* is not affected if the access token that was used to create it is revoked, as long as the User remains active

A webhook that is created by a [third-party app](#third-party-app-development):

* is owned by the User who authorized the third-party app (and is associated with the third-party app)
* can be managed by the third-party app (as long as it maintains authorization) OR by the User who owns it
* is permanently disabled if the third-party app's permissions are revoked

## Webhook Scope & Events

A webhook monitors the specified **scope** for the specified **events**. 

A [Webhook's](#webhook-object) **scope** attribute indicates the scope of the subscription. It is specified when [creating a webhook](#create-webhook), and cannot subsequently be changed. 

* Currently, "sheet" is the only supported value for the **scope** attribute. 

A [Webhook's](#webhook-object) **event** attribute indicates the set of events that a webhook is subscribed to (that is, which events trigger a callback).

* Events are represented as a dot-separated string in the format "*object*.*event*", where an asterisk (&#42;) can be used to represent "all objects" or "all events".
* Currently, "&#42;.&#42;" is the only supported value for the **events** attribute. This indicates a subscription to all objects in the scope, and all events for those objects.

<span class="customSubHeading">Example</span>

Consider a [Webhook](#webhook-object) with the following attribute values:

* **scopeObjectId** = 12345678901234
* **scope** = "sheet" 
* **events** = "&#42;.&#42;" 

This webhook monitors the specified Sheet (id: 12345678901234) for all types of events. For example, if a row is added to the sheet, cell values are updated in the sheet, a column is deleted from the sheet, etc., a callback is sent to the webhook's **callbackUrl**.

# Creating a Webhook

An API client can create a webhook by using the [Create Webhook](#create-webhook) operation. A newly created webhook is disabled by default.
After successfully creating a webhook, the API client must subsequently initiate and complete the [verification process](#webhook-verification) before the webhook is enabled. 
The following diagram illustrates the process of creating and enabling a Webhook. 

<img src="images/v4-CreateAndEnableWebhook.png" alt="Workflow to create a Webhook" />

<span class="customSubHeading">Step-by-Step:</span>

The process occurs synchronously:

1. API Client submits a [Create Webhook](#create-webhook) request.

2. Smartsheet creates the webhook, but does not initially enable the webhook (`enabled: false` and `status: "NEW_NOT_VERIFIED"`).

3. To initiate the verification process, the API Client submits an [Update Webhook](#update-webhook) request to specify `enabled: true`. (*Note*: The API Client does not receive a response to this request until the Verification process (steps 4 and 5) has completed.)

4. When Smartsheet receives the request to enable the webhook, it sends a [Verification Request](#webhook-verification) to the Subscriber (that is, to the `callbackUrl` that the API Client specified in the **Create Webhook** request). 
The request specifies a unique random value in the **Smartsheet-Hook-Challenge** header and contains only `challenge` and `webhookId` in the request body. The `challenge` value is a repeat of the header value for API clients that don't interpret header values.

5. The Subscriber responds to the Verification Request by echoing back the same unique random value in the **Smartsheet-Hook-Response** header of the response.

6. Once the Subscriber has successfully acknowledged the Verification Request, Smartsheet enables the webhook and responds to the API Client's **Update Webhook** request to confirm that the webhook has been enabled (`enabled: true` and `status: "ENABLED"`). 

## Webhook Verification

> Verification Request (from Smartsheet):

```test
POST [callbackUrl]
Smartsheet-Hook-Challenge: d78dd1d3-01ce-4481-81de-92b4f3aa5ab1 
{ 
  "challenge": "d78dd1d3-01ce-4481-81de-92b4f3aa5ab1",
  "webhookId": 2674017481058180
}
```

> Verification Response (by Subscriber):

```test
HTTP status: 200 OK
Smartsheet-Hook-Response: d78dd1d3-01ce-4481-81de-92b4f3aa5ab1 
```

When an API Client attempts to enable a webhook, Smartsheet sends a verification request to the webhook's **callbackUrl** to verify that the Subscriber expects and is able to successfully receive callbacks. 
The request specifies a unique random value in the **Smartsheet-Hook-Challenge** header and contains a JSON object in the request body with only `challenge` and `webhookId` attributes in the request body. The `challenge` attribute is a repeat of the header value for API clients that don't interpret header values.

* To verify the webhook, the Subscriber's response to the Verification Request must return a 200 HTTP status code and must echo back the same unique random value in the **Smartsheet-Hook-Response** header of the response. Once Smartsheet receives this verification response, the webhook is enabled (`enabled: true` and `status: "ENABLED"`).

* If the Subscriber does not successfully respond to the verification request, the webhook remains disabled (`enabled: false` and `status: "DISABLED_VERIFICATION_FAILED"`).

When a webhook is initially [created through the API](#create-webhook), the response contains the webhook's Id.  If you wish to guarantee that your server only receives callbacks for webhooks that you created,
you can check the verification request's `webhookId` attribute against your list of created webhook Ids.  If the Id is not in the list, return a response with a non-200 status code (for example, 403 Forbidden),
and the webhook that initiated the verification request is disabled as described above.

<aside class="notice"><b>IMPORTANT</b>: ONGOING VERIFICATION. Once a webhook has been enabled, Smartsheet sends a verification request to the webhook's <b>callbackUrl</b> once every 100 callbacks. The Subscriber should respond to the verification request as described above -- failure to do so results in the webhook being disabled (<code>enabled: false</code> and <code>status: "DISABLED_VERIFICATION_FAILED"</code>).</aside>

# Webhook Status

A [Webhook](#webhook-object) object's **enabled** attribute indicates whether a webhook is enabled or disabled, while the **status** attribute describes the *reason* that the webhook is enabled or disabled.

<aside class="notice"><b>Note:</b><ul><li>When a Webhook's <b>enabled</b> attribute is set to <code>true</code>, Smartsheet is monitoring for the specified events and sends a <a href="#event-callbacks">callback</a> to the <b>callbackUrl</b> when the events occur.</li><li>When a Webhook's <b>enabled</b> attribute is set to <code>false</code>, Smartsheet is NOT monitoring for the specified events and does NOT send a callback to the <b>callbackUrl</b> when the events occur. Depending on the value of the <b>status</b> attribute, it may be possible to (re-)enable the Webhook. (See below for details).</li></ul></aside>

The following table lists all possible combinations of **enabled** and **status** attribute values.

Webhook.enabled | Webhook.status | Meaning | Notes
----- | ----- | ------ | -----
true  | ENABLED | Webhook is active. | 
false | NEW_NOT_VERIFIED | Webhook has been created but is not enabled because it has not yet been verified. |  Owner can re-enable the webhook by using the [Update Webhook](#update-webhook) operation to set **enabled** to `true`. Once the subscriber successfully acknowledges the [verification request](#webhook-verification), the webhook is enabled.
false  | DISABLED_BY_OWNER | Webhook has been disabled by the owner. | Owner can re-enable the webhook by using the [Update Webhook](#update-webhook) operation to set **enabled** to `true`. Once the subscriber successfully acknowledges the [verification request](#webhook-verification), the webhook is enabled.
false  | DISABLED_VERIFICATION_FAILED | Webhook verification has failed. |  Owner can re-enable the webhook by using the [Update Webhook](#update-webhook) operation to set **enabled** to `true`. Once the subscriber successfully acknowledges the [verification request](#webhook-verification), the webhook is enabled.
false  | DISABLED_CALLBACK_FAILED | Webhook has been disabled because callback was not successfully delivered to the Callback URL. |  Owner can re-enable the webhook by using the [Update Webhook](#update-webhook) operation to set **enabled** to `true`. Once the subscriber successfully acknowledges the [verification request](#webhook-verification), the webhook is enabled.
false  | DISABLED_APP_REVOKED | Webhook has been disabled because the third-party app associated with the webhook has had its access revoked. | This is a terminal state (that is, webhook in this state cannot be re-enabled, and attempts to do so result in error code 1153). If the third-party app's access is subsequently restored, it must create new webhooks.
false  | DISABLED_SCOPE_INACCESSIBLE | Webhook has been disabled because its owner lost access to the corresponding data in Smartsheet (either because the object was deleted or sharing permissions were revoked). | Webhook is automatically re-enabled if access to data is restored (for example, if deleted object is restored or sharing permissions are restored).
false  | DISABLED_ADMINISTRATIVE | Webhook has been disabled by Smartsheet support. | A webhook in this state can only be re-enabled by Smartsheet (contact <a href="mailto:api@smartsheet.com">api@smartsheet.com</a>).  Attempting to re-enable a webhook in this state results in error code 1154.

# Webhook Callbacks

A "callback" is the notification that Smartsheet sends to a webhook's **callbackUrl**. There are two types of callbacks:

* [**Event** callback](#event-callbacks): Alerts the subscriber when the specified events have occurred in Smartsheet. This is the most common type of callback.

* [**Status Change** callback](#status-change-callbacks): Alerts the subscriber that a webhook has been automatically disabled due to loss of access or automatically re-enabled due to restoration of access.

A Subscriber has the ability to verify the integrity of a callback payload (that is, ensure that the message was not tampered with en route) and authenticate the identity of its sender (that is, ensure that the callback did indeed originate from Smartsheet). 
For more information, see [Authenticating Callbacks](#authenticating-callbacks-optional).

## Event Callbacks

> Example - Event callback (row created):

```json
{
  "nonce": "4b2ed20d-6f00-4b0c-8fac-082182aa9aac",
  "timestamp": "2015-10-27T17:04:23.795+0000",
  "webhookId": 4503604829677444,
  "scope": "sheet",
  "scopeObjectId": 4509506114742148,
  "events": [
    {
      "objectType": "sheet",
      "eventType": "updated",
      "id": 4509506114742148,
      "userId": 9007194052434043,
      "timestamp": "2015-10-27T17:03:15.000+0000"
    },
    {
      "objectType": "row",
      "eventType": "created",
      "id": 7129509179746180,
      "userId": 9007194052434043,
      "timestamp": "2015-10-27T17:03:15.000+0000"
    }
  ]
}
```

Smartsheet sends an Event callback to notify the Subscriber when the specified events occur in Smartsheet.

<aside class="warning">Any events that occur while a webhook is disabled are NOT communicated via callback if/when webhook is enabled.</aside>

<span class="customSubHeading">Callback Acknowledgement</span>

The Subscriber must respond to an event callback with a 200 [HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_Success) to acknowledge that the callback was received. 

<span class="customSubHeading">Retry Logic</span>

If the Subscriber fails to respond with a 200 status, depending on the response, Smartsheet may retry delivery up to 14 times. (The first 7 retry attempts occur with a frequency that's determined using exponential backoff; thereafter, retry attempts occur once every three hours until all retries have been exhausted.)

Subscriber response | Is retried?
----- | -----
HTTP 201 through 299 | No
HTTP 309 through 399 | No
HTTP 400 through 499 (except 410) | Yes
HTTP 410 | No
HTTP 500 through 599 | Yes
Any other HTTP status | No
Request timeout | Yes

If the response is not retriable or retry attempts have been exhausted, the webhook is disabled (`enabled: false` and `status: "DISABLED_CALLBACK_FAILED"`).
A webhook in this state can be re-enabled if the subscriber completes the verification process. (See [Webhook Status](#webhook-status) for details.)

## Status Change Callbacks

> Status Change callback (access lost):

```json
{
  "nonce" : "20d4d741-6224-446f-b9c4-bf7802326192",
  "timestamp" : "2015-10-27T14:48:40.214+0000",
  "webhookId": 2674017481058180,
  "scope" : "sheet",
  "scopeObjectId" : 3407658024757124,
  "newWebhookStatus" : "DISABLED_SCOPE_INACCESSIBLE"
}
```

> Status Change callback (access restored):

```json
{
  "nonce" : "20d4d741-6224-446f-b9c4-bf7802326192",
  "timestamp" : "2015-10-27T14:48:40.214+0000",
  "webhookId": 2674017481058180,
  "scope" : "sheet",
  "scopeObjectId" : 3407658024757124,
  "newWebhookStatus" : "ENABLED"
}
```

If a webhook's owner loses access to the object that a webhook is monitoring (either because the object was deleted or the webhook owner's access to the object was revoked in Smartsheet), 
Smartsheet automatically disables the webhook and sends a Status Change callback to alert the Subscriber of this change in status. 
The **newWebhookStatus** attribute indicates that the webhook is now disabled (because the scope is inaccessible).

If the webhook owner's access to the object is subsequently restored, 
Smartsheet automatically re-enables the webhook and sends a Status Change callback to alert the Subscriber of this change in status. 
The **newWebhookStatus** attribute indicates that the webhook is now enabled.

## Authenticating Callbacks (optional)

> Calculating an HMAC

```shell
# See programming language tabs for language-specific examples.
```

```java
private static final String HMAC_SHA256_ALGORITHM="HmacSHA256";
private static final int HMAC_RADIX=16;

private String calculateHmac(String sharedSecret, String callbackBody)throws GeneralSecurityException{
  Mac mac = Mac.getInstance(HMAC_SHA256_ALGORITHM));
  mac.init( new SecretKeySpec(sharedSecret.getBytes(), HMAC_SHA256_ALGORITHM));

  byte[]rawHmac = mac.doFinal(callbackBody.getBytes());
  return new BigInteger(1, rawHmac).toString(HMAC_RADIX);
}
```

A Subscriber has the ability to verify the integrity of a callback payload (that is, ensure that the message was not tampered with en route) and authenticate the identity of its sender (that is, ensure that the callback did indeed originate from Smartsheet).

When you create a new [webhook](#webhook-object), it is assigned a randomly generated **sharedSecret** value.  The shared secret is used by Smartsheet to sign callback payloads, and should not be shared with any third parties.

To authenticate a callback request:

1. Calculate the [HMAC](https://en.wikipedia.org/wiki/Hash-based_message_authentication_code) of the webhook's **sharedSecret** and the request body.  This must be done using the [SHA-256](https://en.wikipedia.org/wiki/SHA-2) cryptographic hash algorithm.

2. Format the calculated value as a string in base 16.

3. Compare your result with the value of the **Smartsheet-Hmac-SHA256** header of the request.

If the values match, you can be sure the request originated from Smartsheet and that the data has not been tampered with.

<aside class="notice">For maximum security, you may also choose to <a href="#reset-shared-secret">reset your webhook's shared secret</a> at periodic intervals.</aside>

# Preventing Infinite Loops

It's possible that an application which subscribes to callbacks (using webhooks) might react to those callbacks by using the API to make additional changes in Smartsheet. 
But, consider the following scenario:

1. **App1** creates a Webhook to monitor **Sheet-A** for changes, specifying an **App-1** URL as the **callbackUrl** for the Webhook.

2. **App-1** updates **Sheet-A** using the API.

3. Smartsheet detects that **Sheet-A** has changed and sends a callback to **App-1** (as the webhook specified).

4. **App-1** processes the callback, and in the course of doing so, updates **Sheet-A** again using the API.

5. Return to Step 3.

To protect against infinite loops like the one outlined above, Smartsheet introduced support for a new header that an API client can include with any API request that adds, updates, or deletes data in Smartsheet. 
Here's how it works:

* An API client includes the **Smartsheet-Change-Agent** header in any API request that adds, updates, or deletes data in Smartsheet.
  * The header value should be set to a string that the API client recognizes as identifying itself.
* If any [Event callbacks](#event-callbacks) fire as a result of an API request that contains the **Smartsheet-Change-Agent** header, the value of the **Smartsheet-Change-Agent** header is included in the [callback](#callbackevent-object) in the value of the **changeAgent** attribute.
* If a webhook Subscriber receives a [callback](#callbackevent-object) that contains the **changeAgent** attribute, it should evaluate the attribute value:
  * If the attribute value's comma-delimited list contains the Subscriber API client's change agent value, this indicates that the change which triggered the callback **WAS** caused by the Subscriber itself, and the Subscriber can choose to ignore the callback, thus preventing an infinite loop.
  * Else, the change which triggered the callback was **NOT** caused by the Subscriber itself, and if the Subscriber is going to subsequently react to the callback by making a change in Smartsheet (via API request), the API client should append a comma and its own identifier to the original attribute value, and pass that value through using the **Smartsheet-Change-Agent** header of the API request. Doing so protects against cross-system infinite loops.

<aside class="notice">The <b>Smartsheet-Change-Agent</b> header value has a maximum length of 512 characters. If its length exceeds 512 characters, the excess is trimmed from the front of the string, so that the most recent agent information remains.</aside>

# Webhook Errors
 
The following table specifies the recommended action for each Smartsheet-specific error code. 
Use this information to implement error handling logic according to the following guidelines:

* If the error code indicates a permanent error condition, do not retry the request.
* If the error code indicates a problem that can be fixed, do not retry the request until the problem has been fixed.
* If the error code indicates a problem that could be overcome by retrying the request after a period of time, retry the request using exponential backoff.

HTTP status code | Smartsheet errorCode | Smartsheet message | Recommended Action |
-----|-----|-----|-----|
400 | 1151 | Scope '{0}', object id {1} was not found. | Do not retry without fixing the problem.
400 | 1152 | Only URLs with a protocol of 'https' are supported for attribute '{0}'. | Do not retry without fixing the problem.
403 | 1153 | This webhook cannot be enabled because access was revoked for the application that created it. | <span class="doNotRetry">Do not retry.</span>
403 | 1154 | Please contact api@smartsheet.com in order to enable this Webhook. | <span class="doNotRetry">Do not retry.</span>

# <span class="customTOCSectionHeading">Webhooks Reference</span>

<%= WEBHOOKS_INTRO %>

For more information, see [Intro to Webhooks](#intro-to-webhooks).

# <%= OBJECTS %>

## Callback Object

     |     |     |
-----|-----|-----|
**nonce** | string | Random value that is distinct for each Callback
**timestamp** | timestamp | Time that the callback was generated
**webhookId** | number | Id of the corresponding Webhook
**scope** | string | Scope of the Webhook. Currently, the only supported value is "sheet".
**scopeObjectId** | number | Id of the object that corresponds to **scope**
**events** | [CallbackEvent](#callbackevent-object)[] | Array of CallbackEvent Objects
**newWebhookStatus** | string | New status of the corresponding Webhook <br/>Only returned for "Webhook Status Change" [callbacks](#webhook-callbacks) (null for "Event" Callbacks).

## CallbackEvent Object

     |     |     |
-----|-----|-----|
**objectType** | string | Type of object for which event occurred. One of the following values:<ul><li>sheet</li><li>column</li><li>row</li><li>cell</li><li>attachment</li><li>discussion</li><li>comment</li></ul>
**eventType** | string | Type of event that occurred. One of the following values:<ul><li>created</li><li>updated</li><li>deleted</li></ul>
**id** | number | Id of the object that corresponds to **objectType**. Omitted if **objectType** is "cell". 
**rowId** | number | Only present if **objectType** is "cell". The Id of the row where the cell is located.
**columnId** | number | Only present if **objectType** is "cell". The Id of the column where the cell is located.
**userId** | number | The user Id of the person who caused this event.
**timestamp** | timestamp | Time that this event occurred. A callback may contain events with different timestamps, as multiple separate events may be aggregated into a single callback request.
**changeAgent** | string | A comma-delimited list of values that uniquely identify the agents responsible for making the changes that caused the callback to occur. Only present if the change agent included the **Smartsheet-Change-Agent** header in the API request that changed data in Smartsheet. For more information, see [Preventing Infinite Loops](#preventing-infinite-loops). 

## SharedSecret Object

     |     |     |
-----|-----|-----|
**sharedSecret** | string | New value for the shared secret

## Webhook Object

     |     |     |
-----|-----|-----|
**id** | number | Webhook Id
**name** | string | Webhook name
**apiClientId** | string | API Client Id corresponding to third-party app that created the Webhook. Read-only. Only present if webhook was created by third-party app.
**apiClientName** | string | API Client Name corresponding to third-party app that created the Webhook. Read-only. Only present if webhook was created by third-party app.
**scope** | string | Scope of the subscription. Currently, the only supported value is "sheet". Specified when a webhook is created and cannot be changed.
**scopeObjectId** | number | Id of the object that is subscribed to. Specified when a webhook is created and cannot be changed.
**events** | string[] | Array of the events that are subscribed to. Currently, must be an array of size 1 that contains the string value "&#42;.&#42;", which means "all objects" and "all events".
**callbackUrl** | string | HTTPS URL where callbacks are sent.<br/><br/>**Note:** Smartsheet webhooks do not support callbacks to servers using self-signed certificates. The callback server must be using a signed certificate from a certificate authority.
**sharedSecret** | string | Shared secret for this webhook, randomly generated by Smartsheet. Read-only. See [Authenticating Callbacks](#authenticating-callbacks-optional) for details about how this value can be used.
**enabled** | Boolean | Flag indicating whether the Webhook is on (`true`) or off (`false`)
**status** | string | Webhook status. Read-only. See [Webhook Status](#webhook-status) for list of possible values.
**disabledDetails** | string | Details about the reason the Webhook was disabled. Read-only. Only present when **enabled**=`false`.
**version** | number | Webhook version. Currently, the only supported value is 1. This attribute is intended to ensure backward compatibility as new webhook functionality is released. For example, a webhook with a version of 1 is guaranteed to always be sent callback objects that are compatible with the version 1 release of webhooks.
**stats** | [WebhookStats](#webhookstats-object) | Useful statistics for this webhook.  Only returned once this webhook has performed a callback attempt.  Read-only.
**createdAt** | timestamp | Time of creation. Read-only.
**modifiedAt** | timestamp | Time of last modification. Read-only.

## WebhookStats Object

     |     |     |
-----|-----|-----|
**lastCallbackAttemptRetryCount** | number | The number of retries the webhook had performed as of the last callback attempt.
**lastCallbackAttempt** | timestamp | When this webhook last made a callback attempt.
**lastSuccessfulCallback** | timestamp | When this webhook last made a successful callback.

# Create Webhook

> Example Request: Create Webhook

```shell
curl https://api.smartsheet.com/2.0/webhooks \
-H "Authorization: Bearer ll352u9jujauoqz4gstvsae05" \
-H "Content-Type: application/json" \
-X POST \
-d '{ "name": "Webhook #4", "callbackUrl": "https://www.myApp.com/webhooks", "scope": "sheet", "scopeObjectId": 2258256056870788, "version": 1, "events": [ "*.*" ]}'
```

```javascript
// Specify webhook details
var body = {
  name: "Webhook #4",
  callbackUrl: "https://www.myApp.com/webhooks",
  scope: "sheet",
  scopeObjectId: 3285357287499652,
  events: ["*.*"],
  version: 1,
};

// Set options
var options = {
  body: body,
};

// Create webhook
smartsheet.webhooks.createWebhook(options)
  .then(function (newWebhook) {
    console.log(newWebhook);
  })
  .catch(function (error) {
    console.log(error);
  });
```

```csharp
// Webhook specification
Webhook webhook = new Webhook();
webhook.Name = "Webhook #4";
webhook.CallbackUrl = "https://www.myApp.com/webhooks";
webhook.Scope = "sheet";
webhook.ScopeObjectId = 3285357287499652;
webhook.Events = new string[] { "*.*" };
webhook.Version = 1;

// Create Webhook
Webhook newWebhook = smartsheet.WebhookResources.CreateWebhook(
  webhook
);
```

```java
// Webhook specification
Webhook webhook = new Webhook();
webhook.setName("Webhook #4");
webhook.setCallbackUrl("https://www.myApp.com/webhooks");
webhook.setScope("sheet");
webhook.setScopeObjectId(3285357287499652L);
webhook.setEvents(Arrays.asList("*.*"));
webhook.setVersion(1);

// Create Webhook
Webhook newWebhook = smartsheet.webhookResources().createWebhook(
  webhook
);
```

```python
Webhook = ss_client.Webhooks.create_webhook(
  ss_client.models.Webhook({
    'name': 'Webhook #4',
    'callbackUrl': 'https://www.myApp.com/webhooks',
    'scope': 'sheet',
    'scopeObjectId': 3285357287499652,
    'events': ['*.*'],
    'version': 1}))
```

```ruby
# Webhook specification
body = {
  name: 'Webhook #4',
  callback_url: 'https://www.myApp.com/webhooks',
  scope: 'sheet',
  scope_object_id: 3285357287499652,
  events: [
    '*.*'
  ],
  version: 1
}

response = smartsheet.webhooks.create(
  body: body
)
new_webhook = response[:result]
```

> Example Response:

```json
{
  "message": "SUCCESS",    
  "resultCode": 0,
  "result": {
    "id": 8444254503626628,
    "name": "Webhook #4",
    "scope": "sheet",
    "scopeObjectId": 3285357287499652,
    "events": [	"*.*" ],
    "callbackUrl": "http://www.myApp.com/webhooks",
    "sharedSecret": "3qo29mvjou6xt5fujukjtwzhj0",
    "enabled": false,
    "status": "NEW_NOT_VERIFIED",
    "version": 1,
    "createdAt": "2015-11-03T22:25:51Z",
    "modifiedAt": "2015-11-03T22:25:51Z"
  }
}
```

`POST /webhooks`

Creates a new Webhook. 

<aside class="notice">A Webhook is not enabled by default when it is created. Once you've created a Webhook, you can enable it by using the <a href="#update-webhook">Update Webhook</a> operation to set <b>enabled</b> to <code>true</code>.</aside>

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_WEBHOOKS
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>
<%= REQUEST %> | [Webhook Object](#webhook-object), limited to the following attributes:<ul><li>name (required)</li><li>callbackUrl (required)</li><li>scope (required)</li><li>scopeObjectId (required)</li><li>events (required)</li><li>version (required)</li></ul>
<%= RETURNS %> | [Result Object](#result-object), containing a [Webhook Object](#webhook-object) for the newly created Webhook

# Delete Webhook

> Example Request: Delete Webhook

```shell
curl https://api.smartsheet.com/2.0/webhooks/{webhookId} \
-H "Authorization: Bearer ll352u9jujauoqz4gstvsae05" \
-X DELETE
```

```javascript
// Set options
var options = {
  webhookId: 401090454808452
};

// Delete webhook
smartsheet.webhooks.deleteWebhook(options)
  .then(function (results) {
    console.log(results);
  })
  .catch(function (error) {
    console.log(error);
  });
```

```csharp
smartsheet.WebhookResources.DeleteWebhook(
  401090454808452     // long webhookId
);
```

```java
smartsheet.webhookResources().deleteWebhook(
  401090454808452L     // long webhookId
);
```

```python
ss_client.Webhooks.delete_webhook(
  401090454808452)       # webhook_id
```

```ruby
smartsheet.webhooks.delete(
  webhook_id: 2674017481058180
)
```

> Example Response:

```json
{
  "message": "SUCCESS",    
  "resultCode": 0
}
```

`DELETE /webhooks/{webhookId}`

Deletes the Webhook specified in the URL.

<aside class="notice">Using this operation permanently deletes the specified Webhook. To temporarily disable a webhook, use the <a href="#update-webhook">Update Webhook</a> operation to set <b>enabled</b> to <code>false</code>.</aside>

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_WEBHOOKS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= RETURNS %> | [Result Object](#result-object)

# Get Webhook

> Example Request: Get Webhook

```shell
curl https://api.smartsheet.com/2.0/webhooks/{webhookId} \
-H "Authorization: Bearer ll352u9jujauoqz4gstvsae05"
```

```javascript
// Set options
var options = {
  webhookId: 401090454808452
};

// Get webhook
smartsheet.webhooks.getWebhook(options)
  .then(function (webhook) {
    console.log(webhook);
  })
  .catch(function (error) {
    console.log(error);
  });
```

```csharp
Webhook webhook = smartsheet.WebhookResources.GetWebhook(
  401090454808452     // long webhookId
);
```

```java
Webhook webhook = smartsheet.webhookResources().getWebhook(
  401090454808452L     // long webhookId
);
```

```python
Webhook = ss_client.Webhooks.get_webhook(
  401090454808452)       # webhook_id
```

```ruby
Webhook = smartsheet.webhooks.get(
  webhook_id: 2674017481058180
)
```

> Example Response:

```json
{
	"id": 401090454808452,
	"name": "Webhook #5",
	"scope": "sheet",
	"scopeObjectId": 6761855684241284,
	"events": [ "*.*" ],
	"callbackUrl": "http://www.myApp.com/webhooks",
	"sharedSecret": "216ejjzdnq17mq1q8xs7d4hu8b",
	"enabled": false,
	"status": "NEW_NOT_VERIFIED",
	"version": 1,
	"createdAt": "2015-11-03T22:25:51Z",
	"modifiedAt": "2015-11-04T20:12:42Z" 
}
```

`GET /webhooks/{webhookId}`

Gets the Webhook specified in the URL.

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_WEBHOOKS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= RETURNS %> | [Webhook Object](#webhook-object)

# List Webhooks

> Example Request: List Webhooks

```shell
curl https://api.smartsheet.com/2.0/webhooks \
-H "Authorization: Bearer ll352u9jujauoqz4gstvsae05"
```

```javascript
// Set options
var options = {
  };

// List webhooks
smartsheet.webhooks.listWebhooks(options)
  .then(function (webhookList) {
    console.log(webhookList);
  })
  .catch(function (error) {
    console.log(error);
  });
```

```csharp
// Omit pagination parameters
PaginatedResult<Webhook> webhooks = smartsheet.WebhookResources.ListWebhooks(
  null            // PaginationParameters
);
```

```java
// Omit pagination parameters
PagedResult<Webhook> webhooks = smartsheet.webhookResources().listWebhooks(
  null            // PaginationParameters
);
```

```python
IndexResult = ss_client.Webhooks.list_webhooks(
  page_size=100,
  page=1,
  include_all=False)
```

```ruby
response = smartsheet.webhooks.list
webhooks = response[:data]
```

> Example Response:

```json
{
	"pageNumber": 1,
	"pageSize": 100,
	"totalPages": 1,
	"totalCount": 1,
    "data": 
    [{
      "id": 4503604829677444,
      "name": "Webhook #5",
      "scope": "sheet",
      "scopeObjectId": 6761855684241284,
      "events": [ "*.*" ],
      "callbackUrl": "http://www.myApp.com/webhooks",
      "sharedSecret": "216ejjzfoo17mq1q8xs7d4hu8b",
      "enabled": true,
      "status": "ENABLED",
      "version": 1,
      "createdAt": "2015-11-03T14:52:21Z",
      "modifiedAt": "2015-11-04T19:05:40Z"
    }]
}
```

`GET /webhooks`

Gets the list of all Webhooks that the user owns (if a [user-generated token](#authentication-and-access-tokens) was used to make the request) 
or the list of all Webhooks associated with the third-party app (if a [third-party app](#third-party-app-development) made the request). 
Items in the response are ordered by API Client name > Webhook name > creation date.

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_WEBHOOKS
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= RETURNS %> | [IndexResult Object](#indexresult-object) containing an array of [Webhook Objects](#webhook-object)

# Reset Shared Secret

> Example Request: Reset Shared Secret

```shell
curl https://api.smartsheet.com/2.0/webhooks/{webhookId}/resetsharedsecret \
-H "Authorization: Bearer ll352u9jujauoqz4gstvsae05" \
-H "Content-Type: application/json" \
-X POST
```

```javascript
// Get options
var options = {
  webhookId: 401090454808452
};

// Reset shared secret
smartsheet.webhooks.resetSharedSecret(options)
  .then(function (newSecret) {
    console.log(newSecret);
  })
  .catch(function (error) {
    console.log(error);
  });
```

```csharp
WebhookSharedSecret newSecret = smartsheet.WebhookResources.ResetSharedSecret(
  401090454808452     // long webhookId
);
```
            
```java
WebhookSharedSecret newSecret = smartsheet.webhookResources().ResetSharedSecret(
  401090454808452L     // long webhookId
);
```

```python
Webhook = ss_client.Webhooks.reset_shared_secret(
  401090454808452)       # webhook_id
```

```ruby
response = smartsheet.webhooks.reset_shared_secret(
  webhook_id: 401090454808452
)
updated_secret = response[:result]
```

> Example Response:

```json
{
  "message": "SUCCESS",
  "resultCode": 0,
  "result": { "sharedSecret": "5nua69a5foo57qdr9barbcg8f3" }
}
```

`POST /webhooks/{webhookId}/resetsharedsecret`

Resets the shared secret for the specified Webhook. For more information about how a shared secret is used, see [Authenticating Callbacks](#authenticating-callbacks-optional).

This operation can be used to rotate an API client's webhooks' shared secrets at periodic intervals to provide additional security.

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_WEBHOOKS
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>  
<%= REQUEST %> | The request body should be empty.
<%= RETURNS %> | [Result Object](#result-object) containing the [SharedSecret Object](#sharedsecret-object)

# Update Webhook

> Example Request: Update Webhook

```shell
curl https://api.smartsheet.com/2.0/webhooks/{webhookId} \
-H "Authorization: Bearer ll352u9jujauoqz4gstvsae05" \
-H "Content-Type: application/json" \
-X PUT \
-d '{ "enabled": true }'
```

```javascript
// Specify changed values
var body = {
  enabled: true
};

// Set options
var options = {
  webhookId: 8444254503626628,
  body: body
};

// Update webhook
smartsheet.webhooks.updateWebhook(options)
  .then(function (updatedWebhook) {
    console.log(updatedWebhook);
  })
  .catch(function (error) {
    console.log(error);
  });
```

```csharp
// Webhook specification
Webhook webhook = new Webhook();
webhook.CallbackUrl = "https://www.myApp.com/webhooks";
webhook.Version = 2;
webhook.Enabled = true;

// Update Webhook
Webhook updatedWebhook = smartsheet.WebhookResources.UpdateWebhook(
  webhook
);
```

```java
// Webhook specification
Webhook webhook = new Webhook();
webhook.setCallbackUrl("https://www.myApp.com/webhooks");
webhook.setVersion(2);
webhook.setEnabled(true);

// Update Webhook
Webhook updatedWebhook = smartsheet.webhookResources().updateWebhook(
  webhook
);
```

```python
Webhook = ss_client.Webhooks.update_webhook(
  8444254503626628,       # webhook_id
  ss_client.models.Webhook({
    'enabled': True}))
```

```ruby
# Webhook specification
body = {
  name: 'Webhook #4',
  callback_url: 'https://www.myApp.com/webhooks/nouveau',
  events: [
    '*.*'
  ],
  enabled: true,
  version: 2
}

# Update Webhook
response = smartsheet.webhooks.update(
  webhook_id: 8444254503626628,
  body: body
)
updated_webhook = response[:result]
```

> Example Response:

```json
{
  "message": "SUCCESS",    
  "resultCode": 0,
  "result": {
    "id": 8444254503626628,
    "name": "Webhook #4",
    "scope": "sheet",
    "scopeObjectId": 2258256056870788,
      "events": [
        "*.*"
    ],
    "callbackUrl": "http://www.myApp.com/webhooks",
    "sharedSecret": "3qo29mvjou6xt5fujukjtwzhj0",
    "enabled": true,
    "status": "ENABLED",
    "version": 1,
    "createdAt": "2015-11-03T14:52:21Z",
    "modifiedAt": "2015-11-04T19:05:40Z"
  }
}
```

`PUT /webhooks/{webhookId}`

Updates the Webhook specified in the URL.

<aside class="notice"><b>Enabling a Webhook</b><br/><br/>When setting a webhook's <b>enabled</b> to <code>true</code> using this operation, the behavior and result depend on the webhook's <b>status</b> and may result in a webhook <a href="#webhook-verification">verification</a> being triggered, or in some cases, an error being returned.  See <a href="#webhook-status">Webhook Status</a> for more details.</aside>

<!--aside class="notice"><b>Enabling a Webhook</b><ul><li>If <b>Webhook.enabled</b>=<code>false</code> and <a href="#webhook-status"><b>Webhook.status</b></a> is any value other than "DISABLED_APP_REVOKED", "DISABLED_SCOPE_INACCESSIBLE", or "DISABLED_ADMINISTRATIVE", using this operation to set <b>Webhook.enabled</b>=<code>true</code> triggers the <a href="#webhook-verification">verification</a> process.</li><li>Verification must be successfully completed in order for the Webhook to become enabled.</li></ul></aside-->

     |     |
-----|-----|
<%= SCOPE %> | ADMIN_WEBHOOKS
<%= HEADERS %> | <%= HEADER_AUTH %><br/><%= HEADER_CT_JSON %>
<%= REQUEST %> | [Webhook Object](#webhook-object), limited to the following attributes:<ul><li>name (optional)</li><li>events (optional)</li><li>callbackUrl (optional)</li><li>enabled (optional)</li><li>version (optional)</li></ul>
<%= RETURNS %> | [Result Object](#result-object) containing the [Webhook Object](#webhook-object) for the updated webhook
