---
title: Smartsheet - Official API and SDK Documentation

language_tabs:     # must be one of https://git.io/vQNgJ
  - shell: cURL
  - csharp: C#
  - java: Java
  - javascript: Node.js
  - python: Python
  - ruby: Ruby
  
toc_footers:

includes:

search: false
---

<% OBJECTS = "Objects" %>
<% RELATED = "Related Items" %>
<% METHOD = "**HTTP Request**" %>
<% SCOPE = "**Access Scope**" %>
<% HEADERS = "**Headers**" %>
<% PARAMETERS = "**Parameters**" %>
<% REQUEST = "**Request Body**" %>
<% RETURNS = "**Returns**" %>
<% ERRORS = "**Errors**" %>
<% HEADER_AUTH = "**Authorization**: Bearer ll352u9jujauoqz4gstvsae05" %>
<% HEADER_CT_JSON = "**Content-Type**: application/json" %>
<% PARAMETER_ALLOW_PARTIAL_SUCCESS = "**allowPartialSuccess** (optional): when specified with a value of `true`, enables partial success for this bulk operation.  See [Partial Success](#partial-success) for more information." %>
<% PARAMETER_MODIFIEDSINCE = "**modifiedSince** (optional): when specified with a <a href='#dates-and-times'>date and time</a> value, response only includes the objects that are modified on or after the date and time specified. If you need to keep track of frequent changes, it may be more useful to use [Get Sheet Version](#get-sheet-version)." %>
<% PARAMETER_OVERRIDE_VALIDATION = "**overrideValidation** (optional): You may use the query string parameter <b>overrideValidation</b> with a value of <code>true</code> to allow a cell value outside of the validation limits. You must specify **strict** with a value of `false` to bypass value type checking."  %>
<% PAGING_PARAMETERS = "This operation supports query string parameters for pagination of results. For more information, see [Paging Query String Parameters](#paging-query-string-parameters)." %>
<% SUPPORTS_PAGING = "This operation supports pagination of results. For more information, see <a href='#paging'>Paging</a>." %>
<% SUPPORTS_BULK_INSERT = "This operation supports both single-object and bulk semantics." %>
<% SUPPORTS_OPTIONAL_BULK = "This operation supports both single-object and bulk semantics.  For more information, see <a href='#optional-bulk-operations'>Optional Bulk Operations</a>." %>
<% SUPPORTS_NUMERICDATES = "You may use the query string parameter <b>numericDates</b> with a value of <code>true</code> to enable strict parsing of dates in numeric format.  See <a href='#dates-and-times'>Dates and Times</a> for more information." %>
<% REQUEST_ONLY_ATTRIBUTE = "This attribute can be specified in a request, but is never present in a response." %>
<% PARTIAL_SUCCESS = "When partial success is enabled, and one or more of the objects in the request fail to be added/updated/deleted, a standard [Result Object](#result-object) is returned, but with a **message** of 'PARTIAL_SUCCESS' (instead of 'SUCCESS'), and a **resultCode** of 3. Additionally, the object contains a **failedItems** attribute -- an array of [BulkItemFailure Objects](#bulkitemfailure-object) that contains an item for each object in the request that failed to be added/updated/deleted." %>
<% SHARING_ERRORS = "If called with a single [Share Object](#share-object), and that user or group share already exists, [error code](#complete-error-code-list) **1025** is returned.  If called with an array of Share Objects, and one or more user or group shares in the array already exist, they are ignored and omitted from the response." %>
<% LIST_SHARES_RESPONSE_DESC = "By default, this operation returns only <i>item-level</i> shares (<b><a href='#share-object'>scope</b></a>='ITEM'). Use the <b>include</b> parameter to request that <i>workspace-level</i> shares (<b><a href='#share-object'>scope</b></a>=='WORKSPACE') also be returned." %>
<% WEBHOOKS_INTRO = "Webhooks provide a way for Smartsheet to automatically notify your external application or service when certain events occur in Smartsheet. Webhooks offer a more efficient alternative to using the API to periodically <i>poll</i> for changes." %>
<% CUSTOM_WELCOME_SCREEN_URL = "https://help.smartsheet.com/articles/1392225-customizing-a-welcome-message-upgrade-screen-enterprise-only-#welcomescreen" %>
<% USER_AUTO_PROVISIONING_URL = "https://help.smartsheet.com/articles/2072731-user-auto-provisioning-enterprise-only-" %>
<% PERSONAL_SETTINGS_MANAGE_EMAIL_URL = "https://help.smartsheet.com/articles/2392037-change-the-email-address-used-with-your-smartsheet-account#manageemails" %>
# <span class="customTOCSectionHeading">Smartsheet API 2.0</span>
Updated 2018-03-08
<%= partial "introduction.html.md.erb"%>
<%= partial "reference-a-f.html.md.erb"%>
<%= partial "reference-g-s.html.md.erb"%>
<%= partial "reference-t-z.html.md.erb"%>
<%= partial "additional.html.md.erb"%>
<%= partial "webhooks.html.md.erb"%>